@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,300;1,400&family=Playfair+Display&family=Varela+Round&display=swap');

body {
  margin: 0;
}
#nav {
  background-image: url(lines.jpg);
}
h1 {
  font-size: 25px;
}
ul {
  list-style: none;
}
ul li::before{
  content: "\2022";
  color: darkcyan;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
:root {
  --color-1: #2E8B57;
  --color-2: darkcyan;
  --color-3: #b5d33d;
  --color-4: darkcyan;
  --color-5: #32CD32;
  --angle: 0deg;
}
h1 {
  color: #fff;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  background: linear-gradient(var(--angle),
      var(--color-1) 19%,
      transparent 19%,
      transparent 20%,
      var(--color-2) 20%,
      var(--color-2) 39%,
      transparent 39%,
      transparent 40%,
      var(--color-3) 40%,
      var(--color-3) 59%,
      transparent 59%,
      transparent 60%,
      var(--color-4) 60%,
      var(--color-4) 79%,
      transparent 79%,
      transparent 80%,
      var(--color-5) 80%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: 10s rotate linear infinite;
}
@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
h3 {
  color: white;
}
#items {
  display: flex;
  text-align: center;
  background-color: black;
  padding-bottom: 23px;
}
#item1 {
  width: 60%;
  font-family: 'Rajdhani', sans-serif;
  color: white;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 30px;
  text-align: justify;
  text-justify: inter-word;
}
#item2 {
  margin-top: 50px;
  width: 30%;
  background-image: url(lines.jpg);
}
#asset {
  text-align: center;
}
#fields {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  margin-bottom: 10px;
}

button, button::after {
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-family: 'Bebas Neue', cursive;
  background: linear-gradient(45deg, transparent 5%, darkcyan 5%);
  border: 0;
  color: #fff;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
}
button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: 'AVAILABLE NOW';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}
button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}
@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

#input {
  border-radius: 10px;
  width: 70%;
  padding-bottom: 5px;
}
#footer {
  text-align: center;
  background: darkcyan;
}
footer {
  bottom: 0;
  left: 0;
  right: 0;
  background: #282828;
  height: auto;
  width: 100vw;
  padding-top: 10px;
  color: #fff;
  display: flex;
  font-family: 'Playfair Display', serif;
}
#icons {
  position: absolute;
  right: 150px;
}